@import '../../styles/variables';

.LoginFormContainer {
  display: flex;
  justify-content: center;

  .Form {
    position: absolute;
    text-align: center;
    top: 30%;
    display: flex;
    flex-direction: column;
    width: 30%;

    .InputContainer, .Link {
      margin-top: 1.5em;
    }

    .ErrorMessage {
      margin-top: 2.5em;
    }

    .Button {
      margin-top: 3em;
    }

    .Logo {
      align-self: center;
      width: 80%;
      margin-bottom: 1em;
    }

    .Link:hover {
      color: $textSecondaryDark;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.ErrorMessageForgotPassword {
  margin-top: 1em !important;
}