.LoginFormContainer {
  display: flex;
  justify-content: center;

  .LoginForm {
    position: absolute;
    text-align: center;
    top: 30%;
    display: flex;
    flex-direction: column;
    width: 30%;

    .LoginInputContainer, .LoginLink {
      margin-top: 1.5em;
    }

    .LoginError {
      margin-top: 2.5em;
    }

    .LoginButton {
      margin-top: 3em;
    }

    .LoginLogo {
      align-self: center;
      width: 80%;
      margin-bottom: 1em;
    }
  }
}
