@import '../../../styles/variables.scss';

.PlannerContainer {
 font-family: Nunito, serif;
}

.EventOverlaps {
  color: #de3f00;
  svg {
    vertical-align: middle;
    fill: #ff6022;
  }
}

.EventContent {
  height: 100%;
  display: inline-block;
  width: 100%;
  padding-left: 3px;
  overflow: scroll;
}
.EventContainer:hover{
  font-weight: bold;
}

.PopoverContent {
  display: flex;
  text-align: center;

  .InfoIconContainer {
    background-color: $primary;
    display: flex;
    padding: 0 0.25em;
    svg {
      margin: 1em 0.5em;
      align-self: center;
    }
  }

  .TextInfoContainer {
    margin: 1em;
    font-family: Nunito, serif;
    font-weight: bold;
    width: 300px;
    hr{
      border-top: thin solid $textPrimaryLight;
    }
  }

  .ActionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button:hover {
      fill: #F44336;
    }
    svg {
      display: flex;
      flex: 0 0 auto;
    }
  }
}

.MonthEventPaddingTop {
  padding-top: 3px;
}

//Calendar styling

.fc-toolbar {
  text-transform: capitalize;
}

.fc-button-primary {
  background-color: #EDEDED !important;
  border-color: #EDEDED !important;
  color: black !important;
}

.fc-button-active {
  background-color: #D6D5D5 !important;
  border-color: #D6D5D5 !important;
}

.fc-timeGridWeek-button {
  outline: none !important;
}

.fc-next-button, .fc-timeGridDay-button, .fc-timeGridWeek-button {
  border-left: 1px solid #DBDADA !important;
}

.fc-prev-button, .fc-dayGridMonth-button, .fc-timeGridWeek-button {
  border-right: 1px solid #DBDADA !important;
}

.fc-prev-button:hover, .fc-next-button:hover {
  background-color: #D6D5D5 !important;
}

.fc .fc-button:focus, .fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:focus {
  box-shadow: unset !important;
}

.fc-daygrid-dot-event:hover, .fc-daygrid-dot-event.fc-event-mirror {
  background: unset !important;
}

.fc-day-today {
  background: rgba(108, 99, 255, 0.05) !important;
}
.fc .fc-timegrid-axis-cushion {
  text-align: center;
}

.fc-direction-ltr .fc-timegrid-col-events {
  margin-right: 10px;
}

.fc-scrollgrid {
  background-color: white;
}