.DashboardContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;

  .ButtonsContainer {
    display: flex;
    justify-content: center;

    .ButtonLeft {
      padding-right: 15em;
    }

    .ButtonRight{
      padding-left: 15em;
    }

    .Button {
      display: flex;
      flex-direction: column;
      margin-top: 7em;

      .Caption {
        width: 300px;
        margin-top: 2em;
      }

      .Label {
        padding: 1em 2em;
        svg {
          margin-right: 0.5em;
          vertical-align: sub;
        }
      }
    }
  }

  .Image {
    width: 20%;
    margin-top: 5em;
    align-self: center;
  }
}

