@import '../../../styles/variables';

.EventsGridContainer {
  .Grid {
    height: 400px;
    width: 100%;
    font-family: Nunito, serif;

    .ag-header-cell-label {
      font-size: 16px;
    }

    div.ag-row {
      font-size: 14px;
    }

    .ResetButton {
      float: right;
      margin: 0 12px 16px 0;
    }

    .ResetLabelButton {
      font-size: 14px;
      font-weight: 400;
    }

    .ag-input-field-input:focus {
      border-bottom-color: $primary !important;
    }

    .ag-standard-button {
      color: $primary;
      font-size: 14px;
      padding: 6px 8px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-family: Nunito,cursive;
      text-transform: none !important;
      border-radius: 11px !important;
      border-width: 2px !important;
      &:hover {
        background-color: rgba(108, 99, 255, 0.04);
      }
    }

    .ag-filter {
      font-family: Nunito, serif;
    }

    .ag-cell-focus, .ag-cell {
      border: none !important;
    }

    .ag-row-selected {
      background-color: #efefef !important;
    }

    .ActionIcons {
      display: flex;
      justify-content: flex-end;

      .TrashIconContainer {
        button {
          fill: $textSecondary;
        }
        button:hover{
          fill: #F44336 !important;
        }
      }
      .BellIconContainer {
        button {
          fill: $textSecondary;
        }
        button:hover{
          fill: #ffab00 !important;
        }
      }
      .OptionsIconContainer {
        button {
          fill: $textSecondary;
        }
        button:hover{
          fill: #2196f3 !important;
        }
      }
      .EyeIconContainer {
        button {
          fill: $textSecondary;
        }
        button:hover{
          fill: #7cbc26 !important;
        }
      }
    }
  }

  .GridTitle {
    margin-left: 1em;
  }

  .StatusFilterList {
    .MuiListItem-dense {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .StatusVerified {
    color: #17AE57;
    svg {
      fill: #17AE57;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .StatusPending {
    color: #FF8A00;
    svg {
      fill: #FF8A00;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .StatusError {
    color: #DA0000;
    svg {
      fill: #DA0000;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .StatusFilterList {
    .MuiListItemIcon-root {
      min-width: unset;
    }
    .CheckboxDisabled {
      color: $textSecondary;
    }
  }

  .PendingDashDate {
    margin-left: 35px;
  }

  .PendingDashHour {
    margin-left: 15px;
  }

  .DateRangeContainer {
    margin-left: 1em;
  }

  .MuiAppBar-root {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .MuiTab-wrapper {
    text-transform: capitalize !important;
    font-size: 16px !important;
  }

  .MuiAccordionSummary-root.Mui-expanded, .MuiAccordionSummary-root {
    min-height: unset;
  }

  .MuiAccordionSummary-content.Mui-expanded, .MuiAccordionSummary-content {
    margin: unset;
  }
}






