@import './variables.scss';

.FillPrimary {
  fill: $primary;
}

.FillWhite{
  fill: white;
}

.GeneralContainer {
  background-image: url("../assets/images/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}