@import './variables.scss';

html{
  background-image: url("../assets/images/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.FillPrimary {
  fill: $primary;
}

.FillWhite{
  fill: white;
}

.CursorPointer {
  cursor: pointer;
}

.Dots {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.Bold {
  font-weight: bold !important;
}