$primary: #6C63FF;
$primaryLight: #B4B1FF;
$primaryDark: #4C46B2;

$secondary: #FF6684;

$textPrimaryLight: #e6e6e6;
$textPrimary: #000;

$textSecondary: rgba(0, 0, 0, 0.54);
$textSecondaryDark: #636262;

.primary {
  color: $primary;
}
