.ParticipantInfoContainer {
  .Avatar {
    display: inline-block;
    margin-right: 5px;
  }

  .MailInformation:hover {
    cursor: pointer;
  }

  .Info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .Icon {
      vertical-align: middle;
      margin-right: 10px;
    }
    .Text {
      font-size: 14px;
    }
  }
}
