@import '../../../styles/variables.scss';

.FormContainer {
  margin: 6em 14em;

  .Stepper {
    margin-top: 3em;

    svg {
      height: 2em;
      width: 2em;
    }
  }

  .ButtonsContainer {
    float: right;

    .Button {
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 2em;
    }
  }

  .Body {
    margin-left: 2em;
    .Question {
      margin-top: 2em;
      margin-bottom: 3em;

      .RadioLabel {
        font-size: 16px;
      }

      .InfoIcon {
        fill: $primary;
        vertical-align: bottom;
      }

      .Input {
        margin-top: 1em;
      }

      .DatePicker {
        margin-right: 2.5em;
      }

      .MinutesLabel {
        display: inline-block;
        margin-top: 20px;
        margin-left: 10px;
      }
    }

    .SummaryContainer {
      margin-right: 3em;

      .ParticipantList {
        margin-left: 20px;
      }

      .ListItem:hover {
        background-color: #F5F5F5;
      }

      .ExpandLessIcon {
        fill: $textSecondaryDark;
      }

      .ExpandMoreIcon {
        fill: $textSecondary;
        &:hover {
          fill: $textSecondaryDark;
        }
      }

      .EditIcon {
        margin-left: 1em;
        min-width: unset;
        cursor: pointer;
        svg {
          fill: $textSecondary;
        }
        svg:hover {
          fill: $textSecondaryDark;
        }
      }

      .EditGroupDetails {
        margin-right: 12px;
        display: inline-block;
        svg {
          position: absolute;
          bottom: 35px;
          right: 15px;
        }
      }

      .EditGroupDetailsMargin {
        margin-right: 40px;
      }
    }

    .ConfirmationContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 3em;

      .ConfirmationMessage {
        margin: 0 5em;
        text-align: center;
      }

      .ExportJSONContainer {
        text-align: center;
        margin-top: 2em;

        button {
          margin-top: 1em;
        }
        .ExportButtonLabel{
          margin: 0 1em;
        }
      }

      .ExportIcon, .CalendarIcon {
        vertical-align: sub;
      }

      .CalendarButtonLabel {
        margin: 1em 2em;
      }

      .CalendarButton {
        margin-top: 3em;
      }
    }
  }
}
