@import '../../../styles/variables.scss';

.FormContainer {
  margin: 6em 14em;

  .Stepper {
    margin-top: 3em;

    svg {
      height: 3em;
      width: 3em;
    }
  }

  .Body, .Buttons {
    margin-left: 2em;
  }

  .Body {
    .Question {
      margin-top: 2em;
      margin-bottom: 3em;
    }
  }

  .Buttons {
    float: right;
  }
}


.MuiStepConnector-line {
  border-color: $primary;
}