@import '../../../styles/variables.scss';

.FormContainer {
  margin: 6em 14em;

  .Stepper {
    margin-top: 3em;

    svg {
      height: 2em;
      width: 2em;
    }
  }

  .Body, .ButtonsContainer {
    margin-left: 2em;
  }

  .ButtonsContainer {
    float: right;
  }

  .RadioLabel {
    font-size: 16px;
  }

  .Body {
    .Question {
      margin-top: 2em;
      margin-bottom: 3em;

      .Input {
        margin-top: 1em;
      }

      .DatePicker {
        margin-right: 2.5em;
      }

      .MinutesLabel {
        display: inline-block;
        margin-top: 20px;
        margin-left: 10px;
      }
    }
  }
}

.MuiStepConnector-line {
  border-color: $primary;
}