.ViewSelectorContainer {

  .MuiPaper-elevation1 {
    box-shadow: unset !important
  }

  .MuiAccordionDetails-root {
    padding: 8px 0 8px 16px !important;
  }

  .EventsDetailsButton {
    margin: 1em auto;
    background: white !important;
  }

  .ViewRadioGroup {
    padding-left: 14px;
  }

}