.SignOutIcon {
  transform: rotate(90deg);
}

.NavBarContainer {
  padding: 10px;

  .Logo {
    width: 11em;
    padding: 6px 8px;
    cursor: pointer;
  }

  .AvatarName {
    float: right;
    .Avatar {
      display: inline-block;
      margin-right: 10px;
    }
    margin-right: 10px;
  }

  .Menu {
    float: right;
  }
}

