.PlannerContainer {
  display: flex;
  flex: 1 1 ;

  .ViewSelectorContainer {
    flex: 0 0 300px;
    margin-top: 1em;
    .MuiPaper-elevation1 {
      box-shadow: unset !important
    }
  }

  .CalendarContainer {
    flex: 1 1 auto;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
  }
}

